<tinns>
	<!-- general server options -->
		<option name="server name" value="Irata"/>
		<option name="server ip" value="127.0.0.1"/>
		<option name="server version" value="200"/>
		<!-- max number of clients. default 128, min 1, max 2048 -->
		<option name="maxclients" value="32"/>
		<!-- how many slots are reserved for gamemasters. default 10 -->
		<option name="gm slots" value="2"/>	
		<!-- location of the neocron client -->
		<option name="client path" value="./client"/>
		<!-- locations of def files -->
		<option name="defs path" value="./client/defs"/>
		<!-- set this to 1 if you'd like to enable automatic account creation -->
		<option name="auto accounts" value="1"/>

	<!-- patchserver options -->
		<!-- port the patchserver listens on. default 8040 -->
		<option name="patchserver port" value="8040"/>
		<!-- where the patch files are stored -->	
		<option name="patches path" value="./patches"/>	
		<!-- which path to use for file requests -->
		<option name="file path" value="."/>
		<!-- how many simultaneous file transfers are allowed -->
		<option name="max file xfers" value="5"/>
		<!-- how much data to send per patchserver packet in bytes. 
		     min 64, max 4082, default 512 -->
		<option name="patch packet size" value="512"/>

	<!-- info server options -->		
		<!-- port the infoserver listens on. default 7000 -->
		<option name="infoserver port" value="7000"/>

	<!-- game server options -->
		<!-- port the gameserver listens on. default 12000 -->
		<option name="gameserver port" value="12000"/>
		<option name="Debug Mode" value="0"/>
		<option name="UseUDPPort" value="5001"/>
	
	<!-- remote console options -->
		<option name="rconsole enabled" value="1"/>
		<option name="rconsole port" value="8042"/>
</tinns>
